body{
    background-image:url("img/background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
   
}

h1{
    color:crimson;
    font-style: italic;
}

a{
    color: yellow;
  
}
   
a:hover{
    font-size: 25px;
    color: rgb(61, 255, 47);
    border: 2px solid black;

}

/* .table-1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px 0px 15px; */


/* .fieldset-1:hover{
    background-color: yellow;
    transition-duration: 2s;
} */

.table-1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    height: 300px;
    width: 100%;
  }
  
  .cell {
    flex: 1;
    border: 1px solid black;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
  }

 table{
    height: 200px;
    width: 800px;
    color: white;
    border: 3px solid black;
 }
